@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;700&display=swap');
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}
*,::after,::before{
    box-sizing: border-box;
}
body{
    line-height: 1;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}

table {border-collapse:collapse;border-spacing:0}


/* 바디 기본세팅 */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    color: #222;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}


